*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;
}

.inner_header{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container {
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 800;
}

.navigation {
    float: right;
    height: 100%;
    margin-right: 100px;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a:last-child {
    padding-right: 0;
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Montserrat';
    font-size: 16px;
}

.login {
    width: 20%;
    height: 50%;
    float: right;
    text-align: right;
    padding: 0px 20px;
    margin-top: 30px;
}

.login a {
    color: white;
    height: 100%;
    font-size: 16px;
    font-family: 'Montserrat';
    text-align: right;
}

#uid {
  color: white;
  margin-right: 10px;
}
